@font-face {
  font-family: 'iconfont';  /* project id 447521 */
  src: url('//at.alicdn.com/t/font_447521_jne2qk3m5q99hpvi.eot');
  src: url('//at.alicdn.com/t/font_447521_jne2qk3m5q99hpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_447521_jne2qk3m5q99hpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_447521_jne2qk3m5q99hpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_447521_jne2qk3m5q99hpvi.svg#iconfont') format('svg');
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
a{
    color: black;
}
.wrap{
    width: 1280px;
    margin: 0 auto;
    border: 1px solid;
}
.header{
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-start;
}
.header .logo img{
    width: 200px;
    height: 200px;
    margin: 0 100px;
    border-radius: 100px;
}
.header .info{
    margin: 0 30px;
}
.header .info h1{
    font-size: 50px;
}
.header .info em{
    font-size: 24px;
}
.header .contact {
    margin-left: 200px;
    width: 400px;
}
.header .contact h1{
    border-bottom: 10px solid #000;
}
.header .contact ul{
    padding: 0 20px;
}
.header .contact ul li{
    margin: 15px 0;
    vertical-align: middle;
}
.header .contact ul{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header .contact ul li:before{
    margin: 0 15px;
    font-size: 20px;
}
.header .contact ul li:nth-child(1):before{
    content: '\e621';
}
.header .contact ul li:nth-child(2):before{
    content: '\e6b9';
}
.header .contact ul li:nth-child(3):before{
    content: '\e602';
}
.header .contact ul li:nth-child(4):before{
    content: '\e60d';
}
.content {
    margin: 30px;
}
.content h1 {
    padding-bottom: 15px;
    border-bottom: 5px solid #ccc;
}
.content ul {
    margin: 50px 20px;
    padding-left: 30px;
    border-left: 3px solid #ccc;
}
.content ul h3 {
    font-size: 25px;
    margin: 25px 0;
}
.content ul h3:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: black;
    margin-left: -35px;
}
.content ul li h3 em {
    color: #999;
    font-size: 20px;
    margin: 0 20px;
}
.content ul li p {
    font-size: 16px;
}
.footer {
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
}
.footer .extra {
    width: 700px;
}
.footer .extra h2 {
    padding-bottom: 10px;
    border-bottom: 3px solid #ccc;
}
.footer .extra ul {
    margin-top: 20px;
}
.footer .extra h3 {
    font-size: 25px;
}
.footer .extra p {
    padding: 20px 0;
}
.footer .skills {
    flex-grow: 1;
    margin: 0 20px;
}
.footer .skills h2 {
    padding-bottom: 10px;
    border-bottom: 3px solid #ccc;
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
}
.skills ul li {
    font-size: 22px;
    width: 45%;
    height: 65px;
    text-align: center;
    margin-top: 65px;
}
.skills ul{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.skills ul li:nth-child(1)::before {
    content: '\e604';
}
.skills ul li:nth-child(2)::before {
    content: '\e601';
}
.skills ul li:nth-child(3)::before {
    content: '\e601';
}
.skills ul li:nth-child(4)::before {
    content: '\e600';
}
